@import "@fontsource/geist-sans";
@import "tailwindcss";

:root {
  font-family: "Geist Sans", sans-serif;
  color: #e5e7eb;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;

  background-color: #020617;

  background-image:
    linear-gradient(
      rgba(255, 255, 255, 0.035) 1px,
      transparent 1px
    ),
    linear-gradient(
      90deg,
      rgba(255, 255, 255, 0.035) 1px,
      transparent 1px
    );

  background-size: 48px 48px;
}